.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: azure;
    box-shadow: 2px 0px 5px gray;
}
.header-container img{
    width: 70px;
    height: 70px;
}
.header-container a{
    text-decoration: none;
    margin-right: 30px;
    color: tomato;
    font-size: 18px;
    font-weight: 500;
}
.header-container a:hover{
    text-decoration: underline;
    color: blue;
}